.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Dashboard.module.css veya ilgili stil dosyası */

.userArea {
    position: relative; /* Menünün buraya göre konumlanması için */
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
    bottom: 100%; /* İsmin üstünde açılması için (Görselde alt köşede olduğu için) */
    left: 0;
    width: 150px;
    background-color: #1e1e2f; /* Tasarımına uygun koyu bir renk */
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

